{% extends 'base.html.twig' %}

{% block title %}Panier{% endblock %}

{% block body %}

<div class="example-wrapper">
    <div class=""> 
        {% set total = 0 %} 
        {% set itemTotal = 0 %}                 
        <div class="left-div">
            <form action="{{ path('app_checkout') }}" method="post" id="payment-form">       
                {% if items|length == 0 %}
                    <p class="text-panier">Votre panier est vide.</p>
                {% else %}
                    <ul>                    
                        {% for item in items %} 
                            <div class="container-panier">
                                <div class="">
                                    {% if item.lesson %}
                                        {{ item.cursus.NameCursus }} - <br>
                                        {{ item.lesson.NameLesson }} - <br>
                                        {{ item.lesson.Price }} €
                                        {% set itemTotal = item.lesson.Price %}
                                    {% else %}
                                        {{ item.cursus.NameCursus }} - <br>
                                        {{ item.cursus.Price }} €
                                        {% set itemTotal = item.cursus.Price %}
                                    {% endif %} 
                                </div> 
                                <div class="btn-right">
                                    <a href='{{ path('app_remove', {'id':item.cursus.id }) }}' class="btn btn-danger"><i class="fa-solid fa-trash" style="color: #ffffff;"></i></a>    
                                </div>         
                            </div>  
                            {% set total = total + itemTotal %}    
                        {% endfor %} 
                        <div class="container-btn">
                            <div>                                
                                <input class="total-price" value="TOTAL : {{ total }} €"></input>
                            </div>
                            <div>
                                <a href="{{ path('app_home') }}" class="btn btn-primary">CONTINUER MES ACHATS</a>
                                <button id="subit" class="btn btn-danger btn-achat">FINALISER MA COMMANDE</button> 
                            </div>
                        </div>                       
                    </ul>
                {% endif %}              
            </form>            
        </div>
    </div>
</div>
{% endblock %}
