{% extends 'base.html.twig' %}

{% block title %}Knowledge Learning{% endblock %}

{% block body %}

    <div class="container-home">
        {% for theme in themes %}
            <div class="mb-4">       
                <h3> {{ theme.NameTheme }} </h3>
                <div class="row mx-auto box-cursus">
                    {% for oneCursus in theme.cursus %} 
                        <div class="col-md-4 card-cursus">
                            <div class="card mb-3">
                                <div class="card-body">                                        
                                    <p>{{ oneCursus.NameCursus }}</p>
                                    <p>Tarif : {{ oneCursus.Price }} €</p>                                
                                    <a href="{{ path('app_lesson_detail', {'cursus': oneCursus.id}) }}" class="btn btn-primary">Découvrir</a>
                                    {% if is_granted('ROLE_USER') %}
                                        {# display buttons according to purchase #}
                                        {% set purchased = false %} 
                                        {% set purchaseLesson = false %}
                                        {% for purchase in app.user.purchases %}          
                                            {% if purchase.cursus.id == oneCursus.id and purchase.lesson == null %}                                           
                                                {% set purchased = true %}
                                                {% set purchaseLesson = false %}                                                  
                                            {% elseif purchase.cursus.id == oneCursus.id and purchase.cursusValidate and purchase.lesson != null %}  
                                                {% set purchased = true %}
                                                {% set purchaseLesson = true %} 
                                            {% else %}    
                                                                                    
                                            {% endif %}
                                        {% endfor %} 

                                        {% if purchased and purchaseLesson == false %}                                                                                   
                                            <a href="{{ path('app_detail_cursus', {'cursus': oneCursus.id}) }}" class="btn btn-info">Visualiser le cours</a>                                        
                                        {% elseif purchased and purchaseLesson %}

                                        {% else %} 
                                            <a href="{{ path('app_cart', {'cursus': oneCursus.id}) }}" class="btn btn-primary">Panier</a>                      
                                        {% endif %}
                                    {% endif %}
                                </div>                       
                            </div>    
                        </div>
                    {% endfor %}
                </div>        
            </div>      
        {% endfor %}
    </div>

{% endblock %}