{% extends 'base.html.twig' %}

{% block title %}S'inscrire{% endblock %}

{% block body %}
    {% for flash_error in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}

    {{ form_errors(registrationForm) }}

    {{ form_start(registrationForm) }}
        {{ form_row(registrationForm.email) }}
        {{ form_row(registrationForm.plainPassword, {
            label: 'Password'
        }) }}
        {#{{ form_row(registrationForm.agreeTerms) }}#}

        <button type="submit" class="btn">Register</button>
    {{ form_end(registrationForm) }} 


   {# <div class="d-flex justify-content-center align-items-center">
        <div class="card card_register" style="width: 18rem;">
            {{ form_start(registrationForm) }}
                <div class="card-body">
                    <p class="card-title">S'inscrire</p>            
                </div>
                <hr>
                <div>             

                    {{ form_label(registrationForm.email, "Adresse mail :", {'label_attr':{'class': 'form-label'}}) }}
                    {{ form_widget(registrationForm.email, {'attr': {'class': 'form-control'}}) }}

                    {{ form_label(registrationForm.plainPassword, "Mot de passe :", {'label_attr':{'class': 'form-label'}}) }}
                    {{ form_widget(registrationForm.plainPassword, {'attr': {'class': 'form-control'}}) }}

                </div>       
                <div class="card-body">
                    <button type="submit" class="btn btn-primary">Créer un compte</button>
                </div>
            {{ form_end(registrationForm) }}  
                <hr>
                <p class="card-title">Déjà inscrit ?</p> 
                <div class="card-body">
                    <a href="/login" class="btn btn-primary">Se connecter</a>
                </div>
        </div>
    </div>#}
{% endblock %}
