{% extends 'base.html.twig' %}

{% block title %}Détail du Cursus{% endblock %}

{% block body %}

<div class="container-detail">
    <h1>Détail {{ cursus.NameCursus }} </h1>
    <div class="mb-4">
        <div class="row mx-auto">
            {% for lesson in lessons %}
                <div class="col-md-4">
                    <div class="card mb-3">
                        <div class="card-body"> 
                            <p>{{ lesson.NameLesson }}</p>
                            <p>Tarif :{{ lesson.price }}€</p>                            
                            {% if is_granted('ROLE_USER') %}                        
 
                                {% set purchased = false %}                                
                                {% for purchase in app.user.purchases %}
                                    {% if purchase.cursus.id == cursus.id %}
                                  
                                        {% if purchase.lesson == null %}

                                        {% elseif purchase.lesson.id == lesson.id %}
                                            {% set purchased = true %}  
                                        {% endif %}                                           
                                    {% endif %}
                                {% endfor %}

                                {% if purchased %}
                                    <a href="{{ path('app_detail_lesson', {'cursus': cursus.id, 'lesson': lesson.id}) }}" class="btn btn-primary">Visualiser le cours</a>
                                {% else %}
                                    <a href="{{ path('app_cart', {'cursus': cursus.id, 'lesson': lesson.id}) }}" class="btn btn-primary">Panier</a>
                                {% endif %}
                                                                
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>   
</div>

{% endblock %}